apiVersion: v1
kind: ConfigMap
metadata:
  name: time-slicing-config
  namespace: {{ .Values.gpuOperatorNamespace }}
data:
  any: |-
    version: v1
    sharing:
      timeSlicing:
        replicas: {{ .Values.replicas }}

